build/ExpenseTracker/Analysis-00.toc
build/ExpenseTracker/base_library.zip
build/
expense_tracker/__pycache__/
dist/
expense_tracker/apps/__pycache__/
expense_tracker/apps/accounts/__pycache__/
expense_tracker/apps/accounts/migrations/__pycache__/
expense_tracker/apps/expenses/__pycache__/
expense_tracker/apps/expenses/management/__pycache__/
expense_tracker/apps/expenses/migrations/__pycache__/
staticfiles/
.env
.gitignore
.gitignore
